.footer {
    background-color: #0a2e6c; /* Dark blue */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}